table{
    border-collapse: collapse;
    width: auto;
}
td {
    text-align: right;
    border: 1px;
    padding: 8px;
}
.second-table td{
    width: 50%;
    text-align: center ;
    border: 2px solid white;
    
}
.third-table td{
    width: 12.5%;
    text-align: center;
    border: 2px solid white;
}
.second-table{
    border: 2px solid white;
}
.third-table{
    border: 2px solid white;
}